<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
	<link href='https://fonts.googleapis.com/css?family=Roboto:100' rel='stylesheet' type='text/css'/>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<title>Mark7</title>
	<meta charset="utf-8"/>
</head>
<body>
	<script type="text/javascript">
		alert("File upload successful");
	</script>
	<div class="jumbotron text-center">
		<p class="text-primary" style="font-size: 80px; font-family: 'Roboto',sans-serif; font-weight: 100;">Mark v7.0</p>
		<p class="text-info" style="font-size: 40px; font-family: 'Roboto',sans-serif; font-weight: 100;">[ @warlock1437 ]</p>
		<br/>
		<form action="upload" method="post" enctype="multipart/form-data">
			<center><input type="file" name="file" class="btn btn-default" style="border-radius: 0px;" /></center>
			<br/>
			<input type="submit" class="btn btn-info" style="border-radius: 0px;" />
		</form>
	</div>
</body>
</html>